@model IEnumerable<BookStoreProject.Models.Book>

@{
    //Layout = null;
    //Layout = "~/Views/Shared/_HomePage.cshtml";
}

<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <title>Search</title>
    </head>
    <body>
        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        <div class="container">
            <br /><br />
            <label> Choose Type of Search</label>
            <select id="searchBy" class="form-control">
                <option value="BookId"> Book Id</option>
                <option value="BookName"> Book Name</option>
                <option value="BookAuthor">Book Author</option>
                <option value="BookCategory">Book Category</option>
                <option value="BookLanguage">Book Language</option>
            </select>
            <br />
            <label> Enter Key</label>
            <div style="display:flex;">
                <input class="form-control" id="search" />
                @*<input class="btn btn-primary" type="submit" id="SearchBtn" value="Search" />*@
            </div>
            <br /><br />

            <table class="table table-bordered">
        <thead>
            <tr>
                <th>BookID</th>
                <th>BookName</th>
                <th>BookAuthor</th>
                <th>BookPrice</th>
                <th>BookDescription</th>
                <th>BookImage</th>
                <th>BookQuantity</th>
                <th>BookCategory </th>
                <th>BookLanguage </th>
            </tr>
        </thead>
            @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookLanguage)
            </th>
            <th></th>
        </tr>*@

            @*<td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookLanguage)
        </td>*@
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
        </td>*@
            <tbody id="DataSearching">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BookId</td>
                        <td>@item.BookName</td>
                        <td>@item.BookAuthor</td>
                        <td>@item.BookPrice</td>
                        <td>@item.BookDescription</td>
                        <td>@item.BookImage</td>
                        <td>@item.BookQuantity</td>
                        <td>@item.BookCategory </td>
                        <td>@item.BookLanguage </td>

                    </tr>
                }
                </tbody>
            </table>
            </div>
            <p> @ViewBag.error </p>
            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script>

                $(document).ready(function () {
                    $("#search").keyup(function () {
                        var SearchBy = $("#searchBy").val();
                        var SearchValue = $("#search").val();
                        var SetData = $("#DataSearching");
                        SetData.html("");

                        $.ajax({
                            type: "post",
                            url: "/SearchBooks/GetSearchData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                            contentType: "html",
                            success: function (result) {
                                if (result.length == 0) {
                                    SetData.append('<tr><td>No Results Found</td></tr>');
                                }
                                else {
                                    var Data = '';
                                    $.each(result, function (index, value) {
                                        Data += '<tr>';
                                        Data += '<td>' + value.BookId + '</td>';
                                        Data += '<td>' + value.BookName + '</td>';
                                        Data += '<td>' + value.BookAuthor + '</td>';
                                        Data += '<td>' + value.BookPrice + '</td>';
                                        Data += '<td>' + value.BookDescription + '</td>';
                                        Data += '<td>' + value.BookImage + '</td>';
                                        Data += '<td>' + value.BookQuantity + '</td>';
                                        Data += '<td>' + value.BookCategory + '</td>';
                                        Data += '<td>' + value.BookLanguage + '</td>';
                                        Data += '</tr>';

                                    });
                                    SetData.append(Data);
                                    //$.each(result, function (index, value) {
                                    //    var Data = "<tr>" +
                                    //        +"<td>" + value.BookId + "</td>" +
                                    //        +"<td>" + value.BookName + "</td>" +
                                    //        +"<td>" + value.BookAuthor + "</td>" +
                                    //        +"<td>" + value.BookPrice + "</td>" +
                                    //        +"<td>" + value.BookDescription + "</td>" +
                                    //        +"<td>" + value.BookImage + "</td>" +
                                    //        +"<td>" + value.BookQuantity + "</td>" +
                                    //        +"<td>" + value.BookCategory + "</td>" +
                                    //        +"<td>" + value.BookLanguage + "</td>" +
                                    //        +"</tr>"
                                    //    SetData.append(Data);
                                    //});
                                }
                            }
                        })
                    })
                })
            </script>
</body>
        </html>
