@model IEnumerable<BookStoreProject.Models.Book>

@{
    //Layout = null;
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            margin: 20px;
            width: 500px;
            box-shadow: 0 3px 20px 0 rgb(0 0 0 / 12%);
            border-radius: 5px;
            padding: 10px;
            font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 16px;
            transition: transform 3s ease 3s;
        }

        .description {
            height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: transform 3s ease 3s;
            cursor: pointer;
            text-align: justify;
            transition-duration: 6s;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .description:hover {
            height: unset;
            transition-duration: 6s;
        }

        .container-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .left {
            width: 35%;
        }

            .left img {
                width: 100%;
                height: 250px;
            }

        .right {
            width: 63%;
        }

            .right div {
                padding: 5px;
            }

        .name {
            font-weight: 600;
            font-size: 20px;
            color: MediumSeaGreen;
        }
    </style>
</head>
<body>
    @*<form>
        <h4>Welcome @ViewBag.Cname</h4>
        <h4>Email id:@ViewBag.Cemail</h4>
    </form>*@
    <div class="container-wrapper">
        @foreach (var item in Model)
        {
            <div class="container">
                <div class="left">
                    <img src="@Url.Content(item.BookImage)" />
                </div>
                <div class="right">
                    <div class="name"> @Html.DisplayFor(modelItem => item.BookName)</div>
                    <div class="author">@Html.DisplayFor(modelItem => item.BookAuthor)</div>
                    <div class="price">Rs @Html.DisplayFor(modelItem => item.BookPrice)</div>
                    <div class="description"> @Html.DisplayFor(modelItem => item.BookDescription)</div>
                    <div class="language"> @Html.DisplayFor(modelItem => item.BookLanguage)</div>
                    <div class="genre"> @Html.DisplayFor(modelItem => item.BookCategory)</div>
                    @*<div class="material-icons"> @Html.ActionLink("shopping_cart", "Add_To_Cart", new { BookId = item.BookId })</div>
                    <div class="material-icons">@Html.ActionLink("rate_review", "AddFeedBack", new { BookId = item.BookId })</div>
                    <div class="material-icons"> @Html.ActionLink("feedback", "FeedBack", new { BookId = item.BookId })</div>*@
                </div>
            </div>
        }
    </div>
    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
</body>
</html>
